
#tour {
  height: 465px;
  border-radius:px;
  overflow:hidden;

}

.go-away-right {
  margin-right: 1em;
}

.select2-container .select2-choice {
  font-size: 2em;
  height: 1.5em;
  line-height: 1.5em;    
}

@media screen and (max-width: 780px) {
    #tour {
      height: 365px;
    }
}

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  height: 100%;
  background-color: red;
}

.info {
  width: 25%;
  text-align: center;
}

.info-padding {
  padding: 3em;
}

#select_query{
  width: 100%;
}

.container-alternate, .jumbotron, footer {
  background-color: #54C571;
}

.thumbnail img{
  position:relative;
}

/*cartilha*/
.thumbnail{  
    height: 465px;
}

.btn{

  border-radius:5px;
}