#tour {
  height: 465px;
}

.go-away-right {
  margin-right: 1em;
}

.select2-container .select2-choice {
  height: 3em;
  padding-top: 0.3em; 
}

@media screen and (max-width: 780px) {
    #tour {
      height: 365px;
    }

#select_query{
  width: 100%;
}

.container-alternate {
    padding-bottom: 35px;
}

.container-alternate, .jumbotron, footer {
  background-color: #54C571;
}

#select_container {
  padding: 20px
}

.thumbnail img{
  position:relative;
}